{
  "openapi": "3.0.0",
  "info": {
    "title": "Hostinger API",
    "description": "# Overview\nThe Hostinger API provides a comprehensive set of endpoints that allow developers\nto interact with Hostinger's services programmatically.\nThis API enables you to manage various aspects of your Hostinger account.\n\nThe Hostinger API is a (mostly) RESTful API that uses standard HTTP methods and status codes.\n# Authentication\nThe Hostinger API uses tokens for authentication. To authenticate your requests,\nyou need to include a valid bearer token in the Authorization header of your HTTP requests:\n```yaml\nAuthorization: Bearer YOUR_API_TOKEN\n```\nAPI tokens for individual users can be created and managed from\nthe [Account page](https://hpanel.hostinger.com/profile/api) of the Hostinger Panel.\nTokens will have same permissions as the owning user.\nOptionally, tokens can be set to expire after a certain period of time.\n# Rate Limiting\nTo ensure fair usage and prevent abuse,\nthe API enforces rate limits on the number of requests that can be made within a certain time period.\nIf you exceed the rate limit, you will receive a 429 Too Many Requests response.\nRate limit headers are included in the response to help you manage your requests.\nYour IP address might get temporarily blocked if you exceed the rate limit multiple times.\n# Parameters\nAll requests sent to API must have the content type `application/json`.\n`POST`, `PUT`, `PATCH` methods may include a JSON object in the request body.\nDocumentation provides required structure and examples of the object.\nSome endpoints require path parameters.\nThese parameters are included in the URL path and are marked with curly braces.\n# Pagination\nSome endpoints return a large number of items.\nTo make these responses more manageable, the API uses pagination.\nBy default, the API returns50 items per page.\n\n The page number can be specified using the `page` query parameter,\n for example: `/api/vps/v1/public-keys?page=2`\n# Errors\nThe Hostinger API uses standard HTTP status codes to indicate the success or failure of a request.\nIn case of an error, the API will return a JSON response with an `error` field,\ncontaining a human-readable error message.\nError responses also contain a `correlation_id` field\nwhich can be used to identify the request in case you need to contact support.\n# SDKs & Tools\nTo help you get started with the Hostinger API,we provide SDKs and tools in various programming languages.\nThe usage & documentation for each SDK can be found in the respective repositories:\n- Ansible - https://github.com/hostinger/ansible-collection-hostinger\n- CLI - https://github.com/hostinger/api-cli\n- n8n node - https://github.com/hostinger/api-n8n-node\n- MCP server - https://github.com/hostinger/api-mcp-server\n- PHP - https://github.com/hostinger/api-php-sdk\n- Python - https://github.com/hostinger/api-python-sdk\n- Terraform - https://github.com/hostinger/terraform-provider-hostinger\n- Node / TypeScript - https://github.com/hostinger/api-typescript-sdk\n- Postman collection - https://www.postman.com/hostinger-api\n- WHMCS module - https://github.com/hostinger/api-whmcs-plugin\n# Change log\nFor information on the latest changes to the API,\nplease refer to the [change log](https://github.com/hostinger/api/blob/main/CHANGELOG.md).\n# Support\nIf you have any questions, feedback or feature requests,\nplease create an [issue](https://github.com/hostinger/api/issues)\nor [discussion](https://github.com/hostinger/api/discussions) on the repository.\n\nFor any support take a look at our [Github Repository](https://github.com/hostinger/api/),\ndedicated to the Hostinger API.",
    "contact": {
      "name": "Hostinger",
      "url": "https://developers.hostinger.com",
      "email": "devs@hostinger.com"
    },
    "version": "0.11.7",
    "x-scalar-sdk-installation": [
      {
        "lang": "Shell",
        "description": "Install official CLI tool. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-cli).",
        "source": "hapi vps vm list"
      },
      {
        "lang": "PHP",
        "description": "Install official PHP SDK. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-php-sdk).",
        "source": "composer require hostinger/api-php-sdk"
      },
      {
        "lang": "Python",
        "description": "Install official Python SDK. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-python-sdk).",
        "source": "pip install hostinger_api"
      },
      {
        "lang": "Node",
        "description": "Install official Node / Typescript SDK. Examples and usage instructions can be found in our [Github repository](https://github.com/hostinger/api-typescript-sdk).",
        "source": "npm install hostinger-api-sdk"
      }
    ]
  },
  "servers": [
    {
      "url": "https://developers.hostinger.com",
      "description": "Production API Server"
    }
  ],
  "paths": {
    "/api/billing/v1/catalog": {
      "get": {
        "tags": [
          "Billing: Catalog"
        ],
        "summary": "Get catalog item list",
        "description": "Retrieve catalog items available for order.\n\nPrices in catalog items is displayed as cents (without floating point),\ne.g: float `17.99` is displayed as integer `1799`.\n\nUse this endpoint to view available services and pricing before placing orders.",
        "operationId": "billing_getCatalogItemListV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/category"
          },
          {
            "$ref": "#/components/parameters/name"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.Catalog.CatalogItemCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/billing/v1/payment-methods/{paymentMethodId}": {
      "post": {
        "tags": [
          "Billing: Payment methods"
        ],
        "summary": "Set default payment method",
        "description": "Set the default payment method for your account.\n\nUse this endpoint to configure the primary payment method for future orders.",
        "operationId": "billing_setDefaultPaymentMethodV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/paymentMethodId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Billing: Payment methods"
        ],
        "summary": "Delete payment method",
        "description": "Delete a payment method from your account.\n\nUse this endpoint to remove unused payment methods from user accounts.",
        "operationId": "billing_deletePaymentMethodV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/paymentMethodId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/billing/v1/payment-methods": {
      "get": {
        "tags": [
          "Billing: Payment methods"
        ],
        "summary": "Get payment method list",
        "description": "Retrieve available payment methods that can be used for placing new orders.\n\nIf you want to add new payment method,\nplease use [hPanel](https://hpanel.hostinger.com/billing/payment-methods).\n\nUse this endpoint to view available payment options before creating orders.",
        "operationId": "billing_getPaymentMethodListV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.PaymentMethod.PaymentMethodCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/billing/v1/subscriptions": {
      "get": {
        "tags": [
          "Billing: Subscriptions"
        ],
        "summary": "Get subscription list",
        "description": "Retrieve a list of all subscriptions associated with your account.\n\nUse this endpoint to monitor active services and billing status.",
        "operationId": "billing_getSubscriptionListV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.Subscription.SubscriptionCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/billing/v1/subscriptions/{subscriptionId}/auto-renewal/disable": {
      "delete": {
        "tags": [
          "Billing: Subscriptions"
        ],
        "summary": "Disable auto-renewal",
        "description": "Disable auto-renewal for a subscription.\n\nUse this endpoint when disable auto-renewal for a subscription.",
        "operationId": "billing_disableAutoRenewalV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.Subscription.SubscriptionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/billing/v1/subscriptions/{subscriptionId}/auto-renewal/enable": {
      "patch": {
        "tags": [
          "Billing: Subscriptions"
        ],
        "summary": "Enable auto-renewal",
        "description": "Enable auto-renewal for a subscription.\n\nUse this endpoint when enable auto-renewal for a subscription.",
        "operationId": "billing_enableAutoRenewalV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/subscriptionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.Subscription.SubscriptionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/snapshots/{domain}/{snapshotId}": {
      "get": {
        "tags": [
          "DNS: Snapshot"
        ],
        "summary": "Get DNS snapshot",
        "description": "Retrieve particular DNS snapshot with contents of DNS zone records.\n\nUse this endpoint to view historical DNS configurations for domains.",
        "operationId": "DNS_getDNSSnapshotV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          },
          {
            "$ref": "#/components/parameters/snapshotId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DNS.V1.Snapshot.SnapshotWithContentResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/snapshots/{domain}": {
      "get": {
        "tags": [
          "DNS: Snapshot"
        ],
        "summary": "Get DNS snapshot list",
        "description": "Retrieve DNS snapshots for a domain.\n\nUse this endpoint to view available DNS backup points for restoration.",
        "operationId": "DNS_getDNSSnapshotListV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DNS.V1.Snapshot.SnapshotCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/snapshots/{domain}/{snapshotId}/restore": {
      "post": {
        "tags": [
          "DNS: Snapshot"
        ],
        "summary": "Restore DNS snapshot",
        "description": "Restore DNS zone to the selected snapshot.\n\nUse this endpoint to revert domain DNS to a previous configuration.",
        "operationId": "DNS_restoreDNSSnapshotV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          },
          {
            "$ref": "#/components/parameters/snapshotId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/zones/{domain}": {
      "get": {
        "tags": [
          "DNS: Zone"
        ],
        "summary": "Get DNS records",
        "description": "Retrieve DNS zone records for a specific domain.\n\nUse this endpoint to view current DNS configuration for domain management.",
        "operationId": "DNS_getDNSRecordsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DNS.V1.Zone.RecordCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "put": {
        "tags": [
          "DNS: Zone"
        ],
        "summary": "Update DNS records",
        "description": "Update DNS records for the selected domain.\n\nUsing `overwrite = true` will replace existing records with the provided ones. \nOtherwise existing records will be updated and new records will be added.\n\nUse this endpoint to modify domain DNS configuration.",
        "operationId": "DNS_updateDNSRecordsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DNS.V1.Zone.UpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "DNS: Zone"
        ],
        "summary": "Delete DNS records",
        "description": "Delete DNS records for the selected domain.\n\nTo filter which records to delete, add the `name` of the record and `type` to the filter. \nMultiple filters can be provided with single request.\n\nIf you have multiple records with the same name and type, and you want to delete only part of them,\nrefer to the `Update zone records` endpoint.\n\nUse this endpoint to remove specific DNS records from domains.",
        "operationId": "DNS_deleteDNSRecordsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DNS.V1.Zone.DestroyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/zones/{domain}/reset": {
      "post": {
        "tags": [
          "DNS: Zone"
        ],
        "summary": "Reset DNS records",
        "description": "Reset DNS zone to the default records.\n\nUse this endpoint to restore domain DNS to original configuration.",
        "operationId": "DNS_resetDNSRecordsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DNS.V1.Zone.ResetRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/dns/v1/zones/{domain}/validate": {
      "post": {
        "tags": [
          "DNS: Zone"
        ],
        "summary": "Validate DNS records",
        "description": "Validate DNS records prior to update for the selected domain.\n\nIf the validation is successful, the response will contain `200 Success` code.\nIf there is validation error, the response will fail with `422 Validation error` code.\n\nUse this endpoint to verify DNS record validity before applying changes.",
        "operationId": "DNS_validateDNSRecordsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DNS.V1.Zone.UpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/v2/direct/verifications/active": {
      "get": {
        "tags": [
          "Domain Access Verifier: Verifications"
        ],
        "summary": "Get domain verifications",
        "description": "Retrieve a list of pending and completed domain verifications.",
        "operationId": "v2_getDomainVerificationsDIRECT",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DomainAccessVerifier.V2.Verifications.ListRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainAccessVerifier.V2.Verifications.ActiveVerificationsCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/availability": {
      "post": {
        "tags": [
          "Domains: Availability"
        ],
        "summary": "Check domain availability",
        "description": "Check availability of domain names across multiple TLDs.\n\nMultiple TLDs can be checked at once.\nIf you want alternative domains with response, provide only one TLD and set `with_alternatives` to `true`.\nTLDs should be provided without leading dot (e.g. `com`, `net`, `org`).\n\nEndpoint has rate limit of 10 requests per minute.\n\nUse this endpoint to verify domain availability before purchase.",
        "operationId": "domains_checkDomainAvailabilityV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domains.V1.Availability.AvailabilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.Availability.AvailabilityCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/forwarding/{domain}": {
      "get": {
        "tags": [
          "Domains: Forwarding"
        ],
        "summary": "Get domain forwarding",
        "description": "Retrieve domain forwarding data.\n\nUse this endpoint to view current redirect configuration for domains.",
        "operationId": "domains_getDomainForwardingV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.Forwarding.ForwardingResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Domains: Forwarding"
        ],
        "summary": "Delete domain forwarding",
        "description": "Delete domain forwarding data.\n\nUse this endpoint to remove redirect configuration from domains.",
        "operationId": "domains_deleteDomainForwardingV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/forwarding": {
      "post": {
        "tags": [
          "Domains: Forwarding"
        ],
        "summary": "Create domain forwarding",
        "description": "Create domain forwarding configuration.\n\nUse this endpoint to set up domain redirects to other URLs.",
        "operationId": "domains_createDomainForwardingV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domains.V1.Forwarding.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.Forwarding.ForwardingResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/portfolio/{domain}/domain-lock": {
      "put": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Enable domain lock",
        "description": "Enable domain lock for the domain.\n\nWhen domain lock is enabled,\nthe domain cannot be transferred to another registrar without first disabling the lock.\n\nUse this endpoint to secure domains against unauthorized transfers.",
        "operationId": "domains_enableDomainLockV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Disable domain lock",
        "description": "Disable domain lock for the domain.\n\nDomain lock needs to be disabled before transferring the domain to another registrar.\n\nUse this endpoint to prepare domains for transfer to other registrars.",
        "operationId": "domains_disableDomainLockV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/portfolio/{domain}": {
      "get": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Get domain details",
        "description": "Retrieve detailed information for specified domain.\n\nUse this endpoint to view comprehensive domain configuration and status.",
        "operationId": "domains_getDomainDetailsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.Domain.DomainExtendedResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/portfolio": {
      "get": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Get domain list",
        "description": "Retrieve all domains associated with your account.\n\nUse this endpoint to view user's domain portfolio.",
        "operationId": "domains_getDomainListV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.Domain.DomainCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Purchase new domain",
        "description": "Purchase and register a new domain name.\n\nIf registration fails, login to [hPanel](https://hpanel.hostinger.com/) and check domain registration status.\n\nIf no payment method is provided, your default payment method will be used automatically.\n\nIf no WHOIS information is provided, default contact information for that TLD will be used.\nBefore making request, ensure WHOIS information for desired TLD exists in your account.\n\nSome TLDs require `additional_details` to be provided and these will be validated before completing purchase.\n\nUse this endpoint to register new domains for users.",
        "operationId": "domains_purchaseNewDomainV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domains.V1.Portfolio.PurchaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Billing.V1.Order.OrderResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/portfolio/{domain}/privacy-protection": {
      "put": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Enable privacy protection",
        "description": "Enable privacy protection for the domain.\n\nWhen privacy protection is enabled, domain owner's personal information is hidden from public WHOIS database.\n\nUse this endpoint to protect domain owner's personal information from public view.",
        "operationId": "domains_enablePrivacyProtectionV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Disable privacy protection",
        "description": "Disable privacy protection for the domain.\n\nWhen privacy protection is disabled, domain owner's personal information is visible in public WHOIS database.\n\nUse this endpoint to make domain owner's information publicly visible.",
        "operationId": "domains_disablePrivacyProtectionV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/portfolio/{domain}/nameservers": {
      "put": {
        "tags": [
          "Domains: Portfolio"
        ],
        "summary": "Update domain nameservers",
        "description": "Set nameservers for a specified domain.\n\nBe aware, that improper nameserver configuration can lead to the domain being unresolvable or unavailable.\n\nUse this endpoint to configure custom DNS hosting for domains.",
        "operationId": "domains_updateDomainNameserversV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/domain"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domains.V1.Portfolio.UpdateNameserversRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/whois/{whoisId}": {
      "get": {
        "tags": [
          "Domains: WHOIS"
        ],
        "summary": "Get WHOIS profile",
        "description": "Retrieve a WHOIS contact profile.\n\nUse this endpoint to view domain registration contact information.",
        "operationId": "domains_getWHOISProfileV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/whoisId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.WHOIS.ProfileResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "Domains: WHOIS"
        ],
        "summary": "Delete WHOIS profile",
        "description": "Delete WHOIS contact profile.\n\nUse this endpoint to remove unused contact profiles from account.",
        "operationId": "domains_deleteWHOISProfileV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/whoisId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/whois": {
      "get": {
        "tags": [
          "Domains: WHOIS"
        ],
        "summary": "Get WHOIS profile list",
        "description": "Retrieve WHOIS contact profiles.\n\nUse this endpoint to view available contact profiles for domain registration.",
        "operationId": "domains_getWHOISProfileListV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/tld"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.WHOIS.ProfileCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Domains: WHOIS"
        ],
        "summary": "Create WHOIS profile",
        "description": "Create WHOIS contact profile.\n\nUse this endpoint to add new contact information for domain registration.",
        "operationId": "domains_createWHOISProfileV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Domains.V1.WHOIS.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.WHOIS.ProfileResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/domains/v1/whois/{whoisId}/usage": {
      "get": {
        "tags": [
          "Domains: WHOIS"
        ],
        "summary": "Get WHOIS profile usage",
        "description": "Retrieve domain list where provided WHOIS contact profile is used.\n\nUse this endpoint to view which domains use specific contact profiles.",
        "operationId": "domains_getWHOISProfileUsageV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/whoisId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domains.V1.WHOIS.ProfileUsageResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/hosting/v1/datacenters": {
      "get": {
        "tags": [
          "Hosting: Datacenters"
        ],
        "summary": "List available datacenters",
        "description": "Retrieve a list of datacenters available for setting up hosting plans\nbased on available datacenter capacity and hosting plan of your order.\nThe first item in the list is the best match for your specific order\nrequirements.",
        "operationId": "hosting_listAvailableDatacentersV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/order_id_required"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hosting.V1.Datacenter.DatacenterCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/hosting/v1/domains/free-subdomains": {
      "post": {
        "tags": [
          "Hosting: Domains"
        ],
        "summary": "Generate a free subdomain",
        "description": "Generate a unique free subdomain that can be used for hosting services without purchasing custom domains.\nFree subdomains allow you to start using hosting services immediately\nand you can always connect a custom domain to your site later.",
        "operationId": "hosting_generateAFreeSubdomainV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hosting.V1.Domains.FreeSubdomainResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/hosting/v1/domains/verify-ownership": {
      "post": {
        "tags": [
          "Hosting: Domains"
        ],
        "summary": "Verify domain ownership",
        "description": "Verify ownership of a single domain and return the verification status.\n\nUse this endpoint to check if a domain is accessible for you before using it for new websites.\nIf the domain is accessible, the response will have `is_accessible: true`.\nIf not, add the given TXT record to your domain's DNS records and try verifying again.\nKeep in mind that it may take up to 10 minutes for new TXT DNS records to propagate.\n\nSkip this verification when using Hostinger's free subdomains (*.hostingersite.com).",
        "operationId": "hosting_verifyDomainOwnershipV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hosting.V1.Domains.VerifyOwnershipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Hosting.V1.Domains.DomainAccessResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/hosting/v1/orders": {
      "get": {
        "tags": [
          "Hosting: Orders"
        ],
        "summary": "List orders",
        "description": "Retrieve a paginated list of orders accessible to the authenticated client.\n\nThis endpoint returns orders of your hosting accounts as well as orders\nof other client hosting accounts that have shared access with you.\n\nUse the available query parameters to filter results by order statuses\nor specific order IDs for more targeted results.",
        "operationId": "hosting_listOrdersV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/statuses"
          },
          {
            "$ref": "#/components/parameters/order_ids"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Hosting.V1.Orders.OrderCollection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/hosting/v1/websites": {
      "get": {
        "tags": [
          "Hosting: Websites"
        ],
        "summary": "List websites",
        "description": "Retrieve a paginated list of websites (main and addon types) accessible to the authenticated client.\n\nThis endpoint returns websites from your hosting accounts as well as\nwebsites from other client hosting accounts that have shared access\nwith you.\n\nUse the available query parameters to filter results by username,\norder ID, enabled status, or domain name for more targeted results.",
        "operationId": "hosting_listWebsitesV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/username"
          },
          {
            "$ref": "#/components/parameters/order_id"
          },
          {
            "$ref": "#/components/parameters/is_enabled"
          },
          {
            "$ref": "#/components/parameters/domain_filter"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Hosting.V1.Websites.WebsiteCollection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Hosting: Websites"
        ],
        "summary": "Create website",
        "description": "Create a new website for the authenticated client.\n\nProvide the domain name and associated order ID to create a new website.\nThe datacenter_code parameter is required when creating the first website\non a new hosting plan - this will set up and configure new hosting account\nin the selected datacenter.\n\nSubsequent websites will be hosted on the same datacenter automatically.\n\nWebsite creation takes up to a few minutes to complete. Check the\nwebsites list endpoint to see when your new website becomes available.",
        "operationId": "hosting_createWebsiteV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Hosting.V1.Websites.CreateWebsiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/reach/v1/contacts/{uuid}": {
      "delete": {
        "tags": [
          "Reach: Contacts"
        ],
        "summary": "Delete a contact",
        "description": "Delete a contact with the specified UUID.\n\nThis endpoint permanently removes a contact from the email marketing system.",
        "operationId": "reach_deleteAContactV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/uuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/reach/v1/contacts/groups": {
      "get": {
        "tags": [
          "Reach: Contacts"
        ],
        "summary": "List contact groups",
        "description": "Get a list of all contact groups.\n\nThis endpoint returns a list of contact groups that can be used to organize contacts.",
        "operationId": "reach_listContactGroupsV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reach.V1.Contacts.Groups.ContactGroupCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "deprecated": true,
        "x-scalar-ignore": true
      }
    },
    "/api/reach/v1/contacts": {
      "get": {
        "tags": [
          "Reach: Contacts"
        ],
        "summary": "List contacts",
        "description": "Get a list of contacts, optionally filtered by group and subscription status.\n\nThis endpoint returns a paginated list of contacts with their basic information.\nYou can filter contacts by group UUID and subscription status.",
        "operationId": "reach_listContactsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/group_uuid"
          },
          {
            "$ref": "#/components/parameters/subscription_status"
          },
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Reach.V1.Contacts.ContactCollection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Reach: Contacts"
        ],
        "summary": "Create a new contact",
        "description": "Create a new contact in the email marketing system.\n\nThis endpoint allows you to create a new contact with basic information like name, email, and surname.\n\nIf double opt-in is enabled,\nthe contact will be created with a pending status and a confirmation email will be sent.",
        "operationId": "reach_createANewContactV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reach.V1.Contacts.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "deprecated": true,
        "x-scalar-ignore": true
      }
    },
    "/api/reach/v1/segmentation/segments": {
      "get": {
        "tags": [
          "Reach: Segments"
        ],
        "summary": "List segments",
        "description": "Get a list of all contact segments.\n\nThis endpoint returns a list of contact segments that can be used to organize contacts.",
        "operationId": "reach_listSegmentsV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reach.V1.Contacts.Segments.ContactSegmentCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "Reach: Segments"
        ],
        "summary": "Create a new contact segment",
        "description": "Create a new contact segment.\n\nThis endpoint allows creating a new contact segment that can be used to organize contacts.\nThe segment can be configured with specific criteria like email, name, subscription status, etc.",
        "operationId": "reach_createANewContactSegmentV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reach.V1.Contacts.Segments.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reach.V1.Contacts.Segments.SegmentResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/reach/v1/segmentation/segments/{segmentUuid}/contacts": {
      "get": {
        "tags": [
          "Reach: Segments"
        ],
        "summary": "List segment contacts",
        "description": "Retrieve contacts associated with a specific segment.\n\nThis endpoint allows you to fetch and filter contacts that belong to a particular segment,\nidentified by its UUID.",
        "operationId": "reach_listSegmentContactsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/segmentUuid"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Reach.V1.Contacts.Segments.SegmentationContactCollection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/reach/v1/segmentation/segments/{segmentUuid}": {
      "get": {
        "tags": [
          "Reach: Segments"
        ],
        "summary": "Get segment details",
        "description": "Get details of a specific segment.\n\nThis endpoint retrieves information about a single segment identified by UUID.\nSegments are used to organize and group contacts based on specific criteria.",
        "operationId": "reach_getSegmentDetailsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/segmentUuid"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reach.V1.Contacts.Segments.SegmentResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/reach/v1/profiles/{profileUuid}/contacts": {
      "post": {
        "tags": [
          "Reach: Contacts"
        ],
        "summary": "Create new contacts",
        "description": "Create a new contact in the email marketing system.\n\nThis endpoint allows you to create a new contact with basic information like name, email, and surname.\n\nIf double opt-in is enabled, the contact will be created with a pending status\nand a confirmation email will be sent.",
        "operationId": "reach_createNewContactsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/profileUuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Reach.V1.Contacts.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/reach/v1/profiles": {
      "get": {
        "tags": [
          "Reach: Profiles"
        ],
        "summary": "List Profiles",
        "description": "This endpoint returns all profiles available to the client, including their basic information.",
        "operationId": "reach_listProfilesV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Reach.V1.Profiles.ProfileCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/vps/v1/data-centers": {
      "get": {
        "tags": [
          "VPS: Data centers"
        ],
        "summary": "Get data center list",
        "description": "Retrieve all available data centers.\n\nUse this endpoint to view location options before deploying VPS instances.",
        "operationId": "VPS_getDataCenterListV1",
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.DataCenter.DataCenterCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/vps/v1/virtual-machines/{virtualMachineId}/docker/{projectName}/containers": {
      "get": {
        "tags": [
          "VPS: Docker Manager"
        ],
        "summary": "Get project containers",
        "description": "Retrieves a list of all containers belonging to a specific Docker Compose project on the virtual machine. \n\nThis endpoint returns detailed information about each container including\ntheir current status, port mappings, and runtime configuration.\n\nUse this to monitor the health and state of all services within your Docker Compose project.",
        "operationId": "VPS_getProjectContainersV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/virtualMachineId"
          },
          {
            "$ref": "#/components/parameters/projectName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.DockerManager.ContainerCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/api/vps/v1/virtual-machines/{virtualMachineId}/docker/{projectName}": {
      "get": {
        "tags": [
          "VPS: Docker Manager"
        ],
        "summary": "Get project contents",
        "description": "Retrieves the complete project information including the docker-compose.yml\nfile contents, project metadata, and current deployment status.\n\nThis endpoint provides the full configuration and state details of a specific Docker Compose project. \n\nUse this to inspect project settings, review the compose file, or check the overall project health.",
        "operationId": "VPS_getProjectContentsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/virtualMachineId"
          },
          {
            "$ref": "#/components/parameters/projectName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.DockerManager.ContentResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/api/vps/v1/virtual-machines/{virtualMachineId}/docker/{projectName}/down": {
      "delete": {
        "tags": [
          "VPS: Docker Manager"
        ],
        "summary": "Delete project",
        "description": "Completely removes a Docker Compose project from the virtual machine, stopping all containers and cleaning up \nassociated resources including networks, volumes, and images. \n\nThis operation is irreversible and will delete all project data. \n\nUse this when you want to permanently remove a project and free up system resources.",
        "operationId": "VPS_deleteProjectV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/virtualMachineId"
          },
          {
            "$ref": "#/components/parameters/projectName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Action.ActionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/api/vps/v1/virtual-machines/{virtualMachineId}/docker": {
      "get": {
        "tags": [
          "VPS: Docker Manager"
        ],
        "summary": "Get project list",
        "description": "Retrieves a list of all Docker Compose projects currently deployed on the virtual machine. \n\nThis endpoint returns basic information about each project including name,\nstatus, file path and list of containers with details about their names,\nimage, status, health and ports. Container stats are omitted in this\nendpoint. If you need to get detailed information about container with\nstats included, use the `Get project containers` endpoint.\n\nUse this to get an overview of all Docker projects on your VPS instance.",
        "operationId": "VPS_getProjectListV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/virtualMachineId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.DockerManager.ProjectCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "x-scalar-stability": "experimental"
      },
      "post": {
        "tags": [
          "VPS: Docker Manager"
        ],
        "summary": "Create new project",
        "description": "Deploy new project from docker-compose.yaml contents or download contents from URL. \n\nURL can be Github repository url in format https://github.com/[user]/[repo]\nand it will be automatically resolved to docker-compose.yaml file in\nmaster branch. Any other URL provided must return docker-compose.yaml\nfile contents.\n\nIf project with the same name already exists, existing project will be replaced.",
        "operationId": "VPS_createNewProjectV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/virtualMachineId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VPS.V1.VirtualMachine.DockerManager.UpRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Action.ActionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/api/vps/v1/virtual-machines/{virtualMachineId}/docker/{projectName}/logs": {
      "get": {
        "tags": [
          "VPS: Docker Manager"
        ],
        "summary": "Get project logs",
        "description": "Retrieves aggregated log entries from all services within a Docker Compose project. \n\nThis endpoint returns recent log output from each container, organized by service name with timestamps. \nThe response contains the last 300 log entries across all services. \n\nUse this for debugging, monitoring application behavior, and\ntroubleshooting issues across your entire project stack.",
        "operationId": "VPS_getProjectLogsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/virtualMachineId"
          },
          {
            "$ref": "#/components/parameters/projectName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.DockerManager.LogsCollection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/api/vps/v1/virtual-machines/{virtualMachineId}/docker/{projectName}/restart": {
      "post": {
        "tags": [
          "VPS: Docker Manager"
        ],
        "summary": "Restart project",
        "description": "Restarts all services in a Docker Compose project by stopping and starting\ncontainers in the correct dependency order.\n\nThis operation preserves data volumes and network configurations while refreshing the running containers. \n\nUse this to apply configuration changes or recover from service failures.",
        "operationId": "VPS_restartProjectV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/virtualMachineId"
          },
          {
            "$ref": "#/components/parameters/projectName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Action.ActionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/api/vps/v1/virtual-machines/{virtualMachineId}/docker/{projectName}/start": {
      "post": {
        "tags": [
          "VPS: Docker Manager"
        ],
        "summary": "Start project",
        "description": "Starts all services in a Docker Compose project that are currently stopped. \n\nThis operation brings up containers in the correct dependency order as defined in the compose file. \n\nUse this to resume a project that was previously stopped or to start services after a system reboot.",
        "operationId": "VPS_startProjectV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/virtualMachineId"
          },
          {
            "$ref": "#/components/parameters/projectName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Action.ActionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/api/vps/v1/virtual-machines/{virtualMachineId}/docker/{projectName}/stop": {
      "post": {
        "tags": [
          "VPS: Docker Manager"
        ],
        "summary": "Stop project",
        "description": "Stops all running services in a Docker Compose project while preserving\ncontainer configurations and data volumes.\n\nThis operation gracefully shuts down containers in reverse dependency order. \n\nUse this to temporarily halt a project without removing data or configurations.",
        "operationId": "VPS_stopProjectV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/virtualMachineId"
          },
          {
            "$ref": "#/components/parameters/projectName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Action.ActionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/api/vps/v1/virtual-machines/{virtualMachineId}/docker/{projectName}/update": {
      "post": {
        "tags": [
          "VPS: Docker Manager"
        ],
        "summary": "Update project",
        "description": "Updates a Docker Compose project by pulling the latest image versions and\nrecreating containers with new configurations.\n\nThis operation preserves data volumes while applying changes from the compose file. \n\nUse this to deploy application updates, apply configuration changes, or\nrefresh container images to their latest versions.",
        "operationId": "VPS_updateProjectV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/virtualMachineId"
          },
          {
            "$ref": "#/components/parameters/projectName"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Action.ActionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        },
        "x-scalar-stability": "experimental"
      }
    },
    "/api/vps/v1/firewall/{firewallId}/activate/{virtualMachineId}": {
      "post": {
        "tags": [
          "VPS: Firewall"
        ],
        "summary": "Activate firewall",
        "description": "Activate a firewall for a specified virtual machine.\n\nOnly one firewall can be active for a virtual machine at a time.\n\nUse this endpoint to apply firewall rules to VPS instances.",
        "operationId": "VPS_activateFirewallV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/firewallId"
          },
          {
            "$ref": "#/components/parameters/virtualMachineId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Action.ActionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/vps/v1/firewall/{firewallId}/deactivate/{virtualMachineId}": {
      "post": {
        "tags": [
          "VPS: Firewall"
        ],
        "summary": "Deactivate firewall",
        "description": "Deactivate a firewall for a specified virtual machine.\n\nUse this endpoint to remove firewall protection from VPS instances.",
        "operationId": "VPS_deactivateFirewallV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/firewallId"
          },
          {
            "$ref": "#/components/parameters/virtualMachineId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Action.ActionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/vps/v1/firewall/{firewallId}": {
      "get": {
        "tags": [
          "VPS: Firewall"
        ],
        "summary": "Get firewall details",
        "description": "Retrieve firewall by its ID and rules associated with it.\n\nUse this endpoint to view specific firewall configuration and rules.",
        "operationId": "VPS_getFirewallDetailsV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/firewallId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Firewall.FirewallResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "VPS: Firewall"
        ],
        "summary": "Delete firewall",
        "description": "Delete a specified firewall.\n\nAny virtual machine that has this firewall activated will automatically have it deactivated.\n\nUse this endpoint to remove unused firewall configurations.",
        "operationId": "VPS_deleteFirewallV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/firewallId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/vps/v1/firewall": {
      "get": {
        "tags": [
          "VPS: Firewall"
        ],
        "summary": "Get firewall list",
        "description": "Retrieve all available firewalls.\n\nUse this endpoint to view existing firewall configurations.",
        "operationId": "VPS_getFirewallListV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/VPS.V1.Firewall.FirewallCollection"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/Common.Schema.PaginationMetaSchema"
                    }
                  },
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "post": {
        "tags": [
          "VPS: Firewall"
        ],
        "summary": "Create new firewall",
        "description": "Create a new firewall.\n\nUse this endpoint to set up new firewall configurations for VPS security.",
        "operationId": "VPS_createNewFirewallV1",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VPS.V1.Firewall.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Firewall.FirewallResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/vps/v1/firewall/{firewallId}/rules/{ruleId}": {
      "put": {
        "tags": [
          "VPS: Firewall"
        ],
        "summary": "Update firewall rule",
        "description": "Update a specific firewall rule from a specified firewall.\n\nAny virtual machine that has this firewall activated will lose sync with the firewall\nand will have to be synced again manually.\n\nUse this endpoint to modify existing firewall rules.",
        "operationId": "VPS_updateFirewallRuleV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/firewallId"
          },
          {
            "$ref": "#/components/parameters/ruleId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VPS.V1.Firewall.Rules.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Firewall.FirewallRuleResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "VPS: Firewall"
        ],
        "summary": "Delete firewall rule",
        "description": "Delete a specific firewall rule from a specified firewall.\n\nAny virtual machine that has this firewall activated will lose sync with the firewall\nand will have to be synced again manually.\n\nUse this endpoint to remove specific firewall rules.",
        "operationId": "VPS_deleteFirewallRuleV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/firewallId"
          },
          {
            "$ref": "#/components/parameters/ruleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/vps/v1/firewall/{firewallId}/rules": {
      "post": {
        "tags": [
          "VPS: Firewall"
        ],
        "summary": "Create firewall rule",
        "description": "Create new firewall rule for a specified firewall.\n\nBy default, the firewall drops all incoming traffic,\nwhich means you must add accept rules for all ports you want to use.\n\nAny virtual machine that has this firewall activated will lose sync with the firewall\nand will have to be synced again manually.\n\nUse this endpoint to add new security rules to firewalls.",
        "operationId": "VPS_createFirewallRuleV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/firewallId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VPS.V1.Firewall.Rules.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Firewall.FirewallRuleResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/vps/v1/firewall/{firewallId}/sync/{virtualMachineId}": {
      "post": {
        "tags": [
          "VPS: Firewall"
        ],
        "summary": "Sync firewall",
        "description": "Sync a firewall for a specified virtual machine.\n\nFirewall can lose sync with virtual machine if the firewall has new rules added, removed or updated.\n\nUse this endpoint to apply updated firewall rules to VPS instances.",
        "operationId": "VPS_syncFirewallV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/firewallId"
          },
          {
            "$ref": "#/components/parameters/virtualMachineId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.Action.ActionResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/vps/v1/post-install-scripts/{postInstallScriptId}": {
      "get": {
        "tags": [
          "VPS: Post-install scripts"
        ],
        "summary": "Get post-install script",
        "description": "Retrieve post-install script by its ID.\n\nUse this endpoint to view specific automation script details.",
        "operationId": "VPS_getPostInstallScriptV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/postInstallScriptId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.PostInstallScript.PostInstallScriptResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "put": {
        "tags": [
          "VPS: Post-install scripts"
        ],
        "summary": "Update post-install script",
        "description": "Update a specific post-install script.\n\nUse this endpoint to modify existing automation scripts.",
        "operationId": "VPS_updatePostInstallScriptV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/postInstallScriptId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VPS.V1.PostInstallScript.StoreRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VPS.V1.PostInstallScript.PostInstallScriptResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "422": {
            "$ref": "#/components/responses/Common.Response.UnprocessableContentResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      },
      "delete": {
        "tags": [
          "VPS: Post-install scripts"
        ],
        "summary": "Delete post-install script",
        "description": "Delete a post-install script from your account.\n       \nUse this endpoint to remove unused automation scripts.",
        "operationId": "VPS_deletePostInstallScriptV1",
        "parameters": [
          {
            "$ref": "#/components/parameters/postInstallScriptId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success empty response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Common.SuccessEmptyResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Common.Response.UnauthorizedResponse"
          },
          "500": {
            "$ref": "#/components/responses/Common.Response.ErrorResponse"
          }
        }
      }
    },
    "/api/vps/v1/post-install-scripts": {
      "get": {
        "tags": [
          "VPS: Post-install scripts"
        ],
        "summary": "Get post-install scripts",
[...]
