name: Pull request

on:
  pull_request:
    branches:
      - main
      - canary

env:
  HUSKY: 0

jobs:
  build-app:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [18.18.0]
    steps:
    - name: Check out the code
      uses: actions/checkout@v4

    - name: Setup pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 8

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'

    - name: Install dependencies
      run: pnpm install

    - name: Run format and lint
      run: pnpm biome ci

    - name: Run type check
      run: pnpm typecheck

    - name: Run Build
      run: pnpm build

    - name: Run Tests
      run: pnpm run test
